@use "base/reset";

@font-face {
    font-family: "Cascadia Mono";
    src: url('./CascadiaMono.woff2');
}

html {
    font-family: monospace;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
    font-family: 'Cascadia Mono', monospace;
    overflow: hidden;
}
pre {
    position: absolute;
    margin:0;
    padding:0;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    font-family: inherit;
}
